<ion-view view-title="Dashboard">
<ion-content class="padding">
<div class="list card" ng-repeat="message in $storage.messages">
  <div class="item item-body">
    {{message.message}}
  </div>
  <div class="item tabs tabs-secondary tabs-icon-left">
    <a ng-href="mailto:{{$storage.emailTo}}?body={{message.message}}" class="tab-item">
      <i class="icon ion-email"></i>
      Email
    </a>
    <a ng-href="sms:{{$storage.callTo}}?body={{message.message}}" class="tab-item">
      <i class="icon ion-android-textsms "></i>
      Text
    </a>
    <a ng-href="tel:{{$storage.callTo}}" class="tab-item">
      <i class="icon ion-ios-telephone"></i>
      Phone
    </a>
  </div>
</div>
</ion-content>
</ion-view>
