<ion-view view-title="Account">
  <ion-content>
    <form ng-submit="">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="$storage.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Email To</span>
        <input type="email" ng-model="$storage.emailTo" multiple>
      </label>
      <label class="item item-input">
        <span class="input-label">Call To</span>
        <input type="tel" ng-model="$storage.callTo">
      </label>
    </form>
  </ion-content>
</ion-view>
