<ion-view view-title="Account">
  <ion-content>
    <form ng-submit="saveMySettings(mySettings)">
      <label class="item item-input">
        <span class="input-label">Name</span>
        <input type="text" ng-model="mySettings.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Message</span>
        <input type="text" ng-model="mySettings.message">
      </label>
      <label class="item item-input">
        <span class="input-label">Email To</span>
        <input type="text" ng-model="mySettings.emailTo">
      </label>
      <label class="item item-input">
        <span class="input-label">Call To</span>
        <input type="tel" ng-model="mySettings.callTo">
      </label>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Save Settings</button>
      </div>
    </form>
    <a ng-href="mailto:{{mySettings.emailTo}}?body={{mySettings.message}}" class="button button-balanced icon ion-email icon-right">
      Email
    </a>
    <a ng-href="sms:{{mySettings.callTo}}?body={{mySettings.message}}" class="button button-balanced icon ion-android-textsms icon-right">
      Text
    </a>
    <a ng-href="tel:{{mySettings.callTo}}" class="button button-balanced icon ion-ios-telephone icon-right">
      Phone
    </a>
  </ion-content>
</ion-view>
